*{
    margin:0;
    padding:0;
    }
    
    body {
        text-align: center; 
        background: linear-gradient(-45deg, #000c40, #f0f2f0);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        
        
        font-family: Poiret One;
        
    
    }

    h1{
        color:white;
	text-shadow:1px 4px 5px rgb(141, 137, 155);
	text-align:center;
	font-size:40px;
	letter-spacing: 0.4px;
    color:black;

    }

    h2{
        
    }



    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }

    }

  #box {
        background-color:rgba(255, 255, 255, 0.537);
        padding:60px;
        display:flex;
        justify-content:center;
    }


#point{
    background-color:rgba(255, 255, 255, 0.537);
    padding:60px;
    display:flex;
    justify-content:center;
}
    