*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Poiret One;
  
  }
    
    body {
        text-align: center; 
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        
        
        
        
    
    }

    h1{
        color:white;
	text-shadow:1px 4px 5px rgb(141, 137, 155);
	text-align:center;
	font-size:40px;
	letter-spacing: 0.4px;
    color:black;

    }

    h2{
       font-weight: 300;
       text-align: center;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        font-size: 20px;

    }



    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }

    }

  #box {
        background-color:rgba(255, 255, 255, 0.537);
        padding:60px;
        display:flex;
        justify-content:center;
    }


#pointz{
    margin-bottom:10px;
   
    background-color:rgba(169, 154, 154, 0.532);
    padding:60px;
    margin:0;
    /* display:flex; */
    /* justify-content:center; */
}

h5{
    margin-bottom:30px;
    margin-top:30px;
font-weight:300;
}

#point{
    background:#f0f2f094;
    font-weight:300;
   
}
    
    header{
        height: 70vh;
        margin-bottom: 40px;
    }

    header h1{
        color: rgb(255, 255, 255);
        font-size: 80px;
        text-shadow: 2px 2px 4px black;
    }
    
    .slides{
        height: 100%;
        position: relative;
    }

    .slide{
        
        margin-top:30px;
        padding: 90px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s linear;
        background-size: cover;
        background-position: center;
    }
    

    .slide.show{
        opacity: 1;
    }

    #flower{
        background-image: url(/flower.jpg);
    }

    #hand{
        background-image: url(/hand.jpg);
    }

    #sky{
        background-image: url(/image.png);
    }


    nav{
        background-color: rgba(255, 255, 255, 0.537);
        display: flex;
        align-items: center;
        padding: 10px 100px;
    }

    nav h2{
        color: beige;
    }

    nav ul{
        display: flex;
        margin-left: 100px;
    }

    nav li{
        padding: 5px;
        margin-right: 20px;
    }

    nav li a{
        color: black;
        font-size: 24px;
    }
    nav li a:hover{
        color: white;
    }


    #places{
        margin-bottom:30px;

        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
        border-radius: 50px;
        padding: 14px 30px;
        margin-bottom:40px;
        bottom:50px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: rgb(248, 223, 223)smoke;
        color: #000000;
    
    }

    #work{
        background:#d5b2b2c6;
    }






    

    .container {
        position: relative;
        width: 50%;
      }
      
      .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .container:hover .image {
        opacity: 0.3;
      }
      
      .container:hover .middle {
        opacity: 1;
      }
      
      .text {
        background-color: #9ea8a4d3;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }

      .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    
    .maps{
        margin-right: 1000px;
        margin-top: 150px;
    }

    #location{
        position: absolute;
        left: 100px;
    }