*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
  
  }
    
    body {
        text-align: center; 
        background: linear-gradient(-45deg, #000c40, #f0f2f0);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        
        
        font-family: Poiret One;
        
    
    }

    h1{
        color:white;
	text-shadow:1px 4px 5px rgb(141, 137, 155);
	text-align:center;
	font-size:40px;
	letter-spacing: 0.4px;
    color:black;

    }

    h2{
       font-weight: 300;
       text-align: center;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        font-size: 20px;

    }



    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }

    }

  #box {
        background-color:rgba(255, 255, 255, 0.537);
        padding:60px;
        display:flex;
        justify-content:center;
    }


#pointz{
   
    background-color:rgba(255, 255, 255, 0.537);
    padding:60px;
    margin:0;
    /* display:flex; */
    /* justify-content:center; */
}

#point{
    background:#f0f2f094;
    font-weight:300;
   
}
    
    header{
        height: 70vh;
        margin-bottom: 40px;
    }

    header h1{
        color: rgb(255, 255, 255);
        font-size: 80px;
        text-shadow: 2px 2px 4px black;
    }
    
    .slides{
        height: 100%;
        position: relative;
    }

    .slide{
        padding: 60px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s linear;
        background-size: cover;
        background-position: center;
    }

    .slide.show{
        opacity: 1;
    }

    #flower{
        background-image: url(/flower.jpg);
    }

    #hand{
        background-image: url(/hand.jpg);
    }

    #sky{
        background-image: url(/sky.jpg);
    }


    nav{
        background-color: rgba(255, 255, 255, 0.537);
        display: flex;
        align-items: center;
        padding: 10px 100px;
    }

    nav h2{
        color: beige;
    }

    nav ul{
        display: flex;
        margin-left: 100px;
    }

    nav li{
        padding: 5px;
        margin-right: 20px;
    }

    nav li a{
        color: black;
        font-size: 24px;
    }


    #places{

        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        padding: 14px 24px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: linear-gradient(to right, rgb(225, 187, 193) 0%, rgb(241, 181, 215) 50%, rgb(219, 131, 172) 100%);
        color: #fff;
    
    }



